
<h1>Sample App</h1>
<p>This is the home page for
	<a href="http://railstutorial.org">Ruby on rails tutorials</a>
	sample application.
</p>
<%= link_to "Sign Up Now!", '#', :class => "signup_button round" %>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

